{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block navbar %}
  {% include "navbar.html" %}
{% endblock %}
{% block content %}
  <div class="row justify-content-center mt-3">
    <h1 class="text-centerr">Iniciar sesion</h1>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4">
            <form action="{{ url_for('auth_authenticate') }}" method="POST">
              <div class="form-group">
                <label for="email">Email:</label>
                <input class="ml-5" name="email" placeholder="Correo" required/><br>
              </div>
              <div class="form-group">
                <label for="password">Contraseña:</label>
                <input class="ml-1" type="password" name="password" placeholder="Clave" required/>
              </div>
              <div class="form-gorup ml-5">
                <input type="submit" class="btn btn-primary" value="Iniciar Sesion">
              </div>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </form>
        </div>
      </div>
    </div>
{% endblock %}
