{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block navbar %}
  {% include "navbar.html" %}
{% endblock %}
{% block content %}
<div class="container bootstrap snippet">
  <div class="justify-content-center">
      <h1>Modificar La configuracion del sistema</h1>
      <form action="{{url_for('configuracion_update')}}"" method="POST">
        <div class="form-group">                    
              <label for="username"><h4>Titulo</h4></label>
              <input type="text" class="form-control" name="titulo" id="username" value="" placeholder="Titulo" required="true"> 
        </div>
        <div class="form-group">                    
              <label for="email"><h4>Descripcion</h4></label>
              <input type="text" class="form-control" name="descripcion" id="email" value="" placeholder="descripcion" required="true"> 
        </div>
        <div class="form-group">                       
              <label for="email"><h4>Contacto</h4></label>
              <input type="email" class="form-control" name="contacto" id="first_name" value="" placeholder="Ingresa un mail" required="true">        
        </div>
        <div class="form-group">     
            <p>Mantenimiento</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="mantenimiento" id="mantenimiento">
                <label class="form-check-label" for="mantenimiento">
                  Habilitado
                </label>
              </div>
        </div>
        <div class="form-group">     
            <label for="email"><h4>Paginacion</h4></label>
            <input type="number" class="form-control" name="paginacion" id="last_name" value="" placeholder="Paginacion" required="true"> 
      </div>

        <div class="form-group">
                <br>
                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Guardar</button>
        </div>
      </form>
      <a  href="{{ url_for('home') }}"  class="btn btn-secondary"> Volver</a>
    </div>
</div>
{% endblock %}
