{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
<h1>Usuarios</h1>
{% block content %}
<div>
  <a href="{{ url_for('user_new')}}" class="btn btn-primary m-3 p-3">Agregar Usuario</a>
</div>

<div class="container mt-5">

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre de usuario</th>
        <th scope="col">Email</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">ID</th>
        <th scope="col">Roles</th>
        <th scope="col">Permisos</th>
        <th scope="col">Acciones</th>
        <th scope="col">Activar/Desactivar</th>
        <th scope="col">Roles</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.id }}</td>
      <td>{% for rol in user.roles %}
        <p>{{rol.nombre}}</p>
      {% endfor %}</td>
      <td>{% for perm in user.getPermisos() %}
        <p>{{perm}}</p>
      {% endfor %}</td>
      <td>
        <form action="{{url_for('user_delete')}}" method=post>   
        <input type=hidden value="{{ user.id }}" name="user_id"/>   
        <input class="btn btn-danger" type=submit value="Eliminar"/> </form>
      </td>
      <td>
        {% if user.activo %}
          <form action="{{url_for('toogle_user_activity')}}" method=post>   
          <input type=hidden value="{{ user.id }}" name="user_id"/>   
          <input class="btn btn-danger" type=submit value="Desactivar"/> </form>       
          
        {% else %}
          <form action="{{url_for('toogle_user_activity')}}" method=post>   
          <input type=hidden value="{{ user.id }}" name="user_id"/>   
          <input class="btn btn-danger" type=submit value="Activar"/> </form>
        {% endif %}
      </td>
      <td>
        <a href="{{ url_for('user_roles', user_id=user.id)}}" class="btn btn-danger">Administrar</a>
      </td>
    </tr>      
    {% endfor %}
  </div>  
  <!--  
    <a href="{{ url_for('home') }}" class="link">Volver</a>
  -->
  {% endblock %}