{% extends "layout.html" %}
{% block title %}Perfil{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block navbar %}
  {% include "navbar.html" %}
{% endblock %}
{% block content %}
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{user.username}}</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-9">     
        <div class="tab-content">
          <div class="tab-pane active" id="home">
              <hr>
                <form action="{{ url_for('user_perfilUpdate', user_id=user.id) }}" method="POST"  class="form"  id="registrationForm">
                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="first_name"><h4>Nombre</h4></label>
                      <input type="text" class="form-control" name="first_name" id="first_name" value="{{user.first_name}}" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-6">
                        <label for="username"><h4>Nombre de usuario</h4></label>
                        <input type="text" class="form-control" name="username" id="username" value="{{user.username}}" placeholder="Nombre de Usuario">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="last_name"><h4>Apellido</h4></label>
                        <input type="text" class="form-control" value="{{user.last_name}}" name="last_name" id="last_name" placeholder="Apellido">
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <label for="email"><h4>Correo</h4></label>
                      <input type="email" class="form-control" value="{{user.email}}" name="email" id="email" placeholder="tu_email@email.com">
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <label for="roles"><h4>Roles</h4></label>
                    {% for rol in user.roles %}
                        <input type="text" class="form-control" value="{{rol.nombre}}"  id="rol" placeholder="roles">
                    {% endfor %}
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <br>
                      <button  href="{{ url_for('user_perfil') }}"  class="btn btn-lg btn-success" type="submit">Guardar</button>
                      <button class="btn btn-warning" type="reset">Limpiar</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div><!--/col-9-->
</div><!--/row-->
{% endblock %}
