{% extends "layout.html" %}
{% block title %}Centros{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block navbar %}
  {% include "navbar.html" %}
{% endblock %}
<h1>Centros</h1>
{% block content %}
<div>
  <a href="" class="btn btn-primary m-3 p-3 float-right">Buscar Centros</a>
</div>
<div>
  <a href="{{ url_for('centro_new')}}" class="btn btn-primary m-3 p-3">Agregar Centro</a>
</div>

<div class="container mt-5">

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre del centro</th>
        <th scope="col">Direccion</th>
        <th scope="col">Telefono</th>
        <th scope="col">Detalle</th>
        <th scope="col">Eliminar</th>
        <th scope="col">Aceptar/Rechazar</th>
      </tr>
    </thead>
    <tbody>
    {% for centro in centros %}
    <tr>
      <td>{{ centro.name }}</td>
      <td>{{ centro.address }}</td>
      <td>{{ centro.phone }}</td>
      <td>
        <a href="{{ url_for('centro_detalle', centro_id=centro.id)}}" class="btn btn-success m-1 p-2">Ver</a>
      </td>
      <td>

          <!-- Boton que dispara el modal -->
          <button type="button" class="btn btn-danger m-1 p-2" data-toggle="modal" data-target="#modalBorrarCentro{{centro.id}}">
            Borrar
          </button>
          <!-- Modal -->
          <div class="modal fade" id="modalBorrarCentro{{centro.id}}">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalBorrarCentroTitulo{{centro.id}}">Borrar Centro Definitivamente</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>{{centro.name}}</h3>
                  <p>¿Seguro que deseas eliminarlo?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                  <form action="{{url_for('centro_delete')}}" method=post>   
                    <input type=hidden value="{{ centro.id }}" name="centro_id"/>   
                    <input class="btn btn-danger" type=submit value="Eliminar"/> 
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  </form>   
                </div>
              </div>
            </div>
          </div> 
      </td>
      <td>
        {% if centro.status_create == "ACEPTADO" %}
          <form action="{{url_for('toggle_aprobacion')}}" method=POST>   
          <input type="hidden" value="{{ centro.id }}" name="centro_id"/>   
          <input class="btn btn-danger" type=submit value="Rechazar"/>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          </form>       
          
        {% else %}
          {% if centro.status_create == "RECHAZADO" %}  
            <form action="{{url_for('toggle_aprobacion')}}" method=POST>   
            <input type="hidden" value="{{ centro.id }}" name="centro_id"/>   
            <input class="btn btn-success" type=submit value="Aprobar"/>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </form>
          {% else %}
          <div class="row">
            <div class="col-4">
              <form action="{{url_for('definir_status_create')}}" method=POST>   
                <input type="hidden" value="{{ centro.id }}" name="centro_id"/>
                <input type="hidden" value="ACEPTADO" name="status_create"/>
                <input class="btn btn-success" type=submit value="Aprobar"/>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              </form>
            </div>
            <div class="col-auto">  
              <form action="{{url_for('definir_status_create')}}" method=POST>   
                <input type="hidden" value="{{ centro.id }}" name="centro_id"/>
                <input type="hidden" value="RECHAZADO" name="status_create"/>  
                <input class="btn btn-danger" type=submit value="Rechazar"/>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              </form>
            </div>
          </div>    
          {% endif %}
        {% endif %}
      </td>
    </tr>      
    {% endfor %}
  </div>  

    <!--Paginacion-->  
    {% if cantidad_paginas %}
    <div aria-label="Page navigation">
      <ul class="pagination ">
        {% for each in range(1, cantidad_paginas + 2): %}
        <li class="page-item"><a class="page-link" href="{{url_for('centro_index', numero_pagina=each)}}">{{each}}</a></li>
        {% endfor %}      
      </ul>
    </div>  
    {% endif %}

  {% endblock %}

      