{% extends "layout.html" %}
{% block title %}Centros{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
{% endblock %}
{% block navbar %}
  {% include "navbar.html" %}
{% endblock %}
{% block content %}
<div class="container mb-3 mt-5">
 
    <div class="text-center">
        <div>
          <h1>Crear nuevo Centro</h1>
        </div>

    </div>
    
    <div > 
      <form action="{{ url_for('centro_create') }}" method="POST" autocomplete="off".>

        <div class="form-group">
            <label>Nombre del centro:</label></br>
            <input name="name" class="form-control" type="text" placeholder="Ingrese el nombre del centro de ayuda"   required="true"/>
        </div>
        
        <div class="form-row">    
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Direcccion del centro</label></br>
                    <input name="address" class="form-control"  type="text" minlength="7" maxlength="70" placeholder="Ingrese la direccion del centro de ayuda"     required="true"/>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                  <label>Telefono</label></br>
                  <input name="phone" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Ingrese el numero de telefono con el formato 123-456-7890" required="true"/>
                </div>
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                  <label>Mail</label></br>
                  <input name="mail" class="form-control" type="email" placeholder="Ingrese la direccion de correo electronico del centro de ayuda" required="true"/>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                  <label>Horario de apertura:</label></br>
                  <input type="time" class="form-control" name="openHour" placeholder="Ingrese el horario de apertura del centro de ayuda" required="true"/>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Horario de cierre:</label></br>
                    <input type="time" class="form-control" name="closeHour" placeholder="Ingrese el horario de cierre del centro de ayuda" required="true"/>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                  <label>Tipo de centro de ayuda</label></br>
                  <select class="form-control" name="type_id" placeholder="Seleccione el tipo de       centro de ayuda" required="true">
                    <option value="1">Ropa</option>
                    <option value="2">Comida</option>
                    <option value="3">Muebles</option>
                    <option value="4">Higiene Personal</option>
                    <option value="5">Higiene del Hogar</option>
                  </select>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Municipio</label></br>
                    <select name="municipio" class="form-control" placeholder="Seleccione el municipio del centro de ayuda"      required="true">
                        <option value="1">La Plata</option>
                        <option value="2">Ensenada</option>
                        <option value="3">Berisso</option>
                        <option value="4">Tolosa</option>
                        <option value="5">City Bell</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                  <label>Direcccion del sitio Web:</label></br>
                  <input name="web" type="url" title="Include http://" class="form-control" placeholder="http://ejemplo.com" required="true"/>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Protocolo de visita</label></br>
                    <input type="file"  class="form-control form-control-file" name="visit_protocol" required="true"/>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Latitud</label></br>
                    <input type="text" id="lat" class="form-control" name="lat" placeholder="Ingrese las coordenadas geograficas del centro de ayuda" required="true"/>
                </div>
            </div>
        </div>
        
        <div>
          <div class="form-group col-md-6">
            <div class="form-group">
                <label>Longitud</label></br>
                <input type="text" id="long" class="form-control" name="long" placeholder="Ingrese las coordenadas geograficas del centro de ayuda" required="true"/>
            </div>
          </div>
        </div>
        
        <div id="myMap" class="mb-3" style="height: 400px; width: 600px; position: relative;"></div>

        <div>
          <input type="submit" class="btn btn-success" value="Crear">
          <button class="btn btn-warning" type="reset">Limpiar</button>
          <a href="{{ url_for('centro_index') }}" class="btn btn-primary">Volver</a>
        </div>
      </form>
    </div>
    

</div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
<script>
  //creo el mapa con coordenada inicial plaza moreno
  let myMap = L.map('myMap').setView([ -34.9206722, -57.9561499],13)
  //variable para la marca
  let marker;
  //link al template del mapa sacado de ngx-leaflet
  const urlOpenLayers = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'

  function onMapClick(e){
    //alert("hiciste click en: " + e.latlng);
    //obtengo lat-long del evento
    const lat = e.latlng.lat;
    const long = e.latlng.lng;
    //si ya hay marcador lo elimino para no tener muchos al mismo tiempo
    if(marker){
      myMap.removeLayer(marker);
    }
    //genero el marcador y seteo el popup con la lat lng
    marker = L.marker([lat,long],{draggable:true}).bindPopup(e.latlng.toString()).openPopup().addTo(myMap);
    document.getElementById("lat").value= lat;
    document.getElementById("long").value = long;
  }
  
  myMap.on('click', onMapClick);

  //agrgo el layer al div
  L.tileLayer(urlOpenLayers,{
      maxZoom:15
  }).addTo(myMap)


</script>
{% endblock %}
