{% extends "layout.html" %}
{% block title %}Centros{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
{% endblock %}
{% block navbar %}
  {% include "navbar.html" %}
{% endblock %}
{% block content %}
<div class="container mb-3 mt-5">
 
    <div class="text-center">
        <div>
          <h1>Actualizar Centro "{{centro.name}}"</h1>
        </div>
    </div>
    
    <div > 
      <form action="{{ url_for('centro_update', centro_id=centro.id) }}" method="POST" autocomplete="off" enctype="multipart/form-data">

        <div class="form-group">
            <label>Nombre del centro:</label></br>
            <input name="name" value="{{centro.name}}" class="form-control" type="text" required="true"/>
        </div>
        
        <div class="form-row">    
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Direcccion del centro</label></br>
                    <input name="address" class="form-control"  type="text" minlength="7" maxlength="70" value="{{centro.address}}" required="true"/>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                  <label>Telefono</label></br>
                  <input name="phone" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value={{centro.phone}} required="true"/>
                </div>
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                  <label>Mail</label></br>
                  <input name="mail" class="form-control" type="email" value="{{centro.mail}}" required="true"/>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                  <label>Horario de apertura:</label></br>
                  <input id="openHour" onchange="openHourSelected(this)" type="time" class="form-control" name="openHour" value="{{centro.openHour}}" required="true"/>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Horario de cierre:</label></br>
                    <input id="closeHour" onchange="closeHourSelected(this)" type="time" class="form-control" name="closeHour" value="{{centro.closeHour}}" required="true"/>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                  <label>Tipo de centro de ayuda</label></br>
                  <select class="form-control" name="type_id" value="{{centro.type_id}}" required="true">
                    <option value="1">Ropa</option>
                    <option value="2">Comida</option>
                    <option value="3">Muebles</option>
                    <option value="4">Higiene Personal</option>
                    <option value="5">Higiene del Hogar</option>
                  </select>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                  <label>Municipio</label></br>
                  <select name="municipio_id" class="form-control"  required="true">
                    {% for each in municipios %}
                    <option value="{{municipios[each].id}}" {% if (municipio.name == municipios[each].name) %} selected="selected" {% endif %}>{{municipios[each].name}}</option>
                    {% endfor%}
                  </select>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                  <label>Direcccion del sitio Web:</label></br>
                  <input name="web" type="url" title="Include http://" class="form-control" value="{{centro.web}}" required="true"/>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Longitud</label></br>
                    <input type="text" id="long" class="form-control" name="long" value="{{centro.long}}" required="true"/>
                </div>
            </div>
    
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Latitud</label></br>
                    <input type="text" id="lat" class="form-control" name="lat" value="{{centro.lat}}" required="true"/>
                </div>
            </div>
        </div>
                
        </div>
        <div id="myMap" class="mb-3" style="height: 400px; width: 600px; position: relative;"></div>

        <div>
          <input type="submit" class="btn btn-success" value="Actualizar">
          <a href="{{ url_for('centro_index') }}" class="btn btn-primary">Volver</a>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      </form>
    </div>
    

</div>


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin="">
</script>
<script src="{{url_for('static', filename='js/map.js')}}">
</script>
<script>
  var openHour = "{{centro.openHour}}"
  var closeHour = "{{centro.closeHour}}"
  function openHourSelected(inputField){
    openHour = inputField.value
      if (openHour>= closeHour){
        setTimeout(function(){ 
          alert('El horario de inicio es posterior o igual al de fin!');
          inputField.value = undefined 
          },
        0); 
    }
  }

  function closeHourSelected(inputField){
    closeHour = inputField.value    
      if (openHour>= closeHour){
        setTimeout(function(){
          alert('El horario de inicio es posterior o igual al de fin!');
          inputField.value = undefined
        }, 
        0)
      }
    
  }
</script>

{% endblock %}
