{% extends "layout.html" %}
{% set show_users=True %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block navbar %}
  {% include "navbar.html" %}
{% endblock %}
{% block content %}
  <div class="row justify-content-center mt-3">
    <h1 class="text-centerr">DONACIONES COVID-19</h1>
  </div>
  <!--
  <a href="{{ url_for('issue_index') }}" class="link">Consultas</a>
  -->
  {% if is_authenticated(session) %}
  <a href="{{ url_for('user_index') }}" class="link">Usuarios</a>
  <a href="{{ url_for('auth_logout') }}" class="link">Cerrar sesión</a>
  {% else %}
  <div>
    <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-4">
              <div class="card text-center" >
                <div class="card-body">
                  <h5 class="card-title">Bienvenidos</h5>
                  <a href="{{url_for('auth_login')}}" class="btn btn-primary">Iniciar Sesion</a>
                  <h6 class="mt-1"><a href="#">¿No estas registrado?</a></h6>
                </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  {% endif %}
  {% endblock %}
