<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('home')}}">COOPEVID-19</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
        </li>
        {% block content %}
        {% if is_authenticated(session) %}
          {% if is_granted("usuario_index") %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('user_index')}}">Usuarios</a>
          </li>
          {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Perfil
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('user_perfil')}}">Ver Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('auth_logout')}}">Cerrar Sesion</a>
          </div>
        </li>
        {% endif %}
        {% endblock %}
      </ul>
    </div>
  </nav>